.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #2b2f32;
    color: white;
}

main {
    flex: 1;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}
